{% extends 'base-content-left-page.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h3 class="signup-form-title mt-3 mb-4">Password Change</h3>
    <div class="signup-form-container account-page-text mt-2 mb-2">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            <div class="pl-4 pr-2 pt-2 signup-form-container">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <hr>
            <div class="d-flex justify-content-center pt-4 pb-4">
                <button type="submit" name="action" class="btn btn-blue">Change Password</button>
            </div>
        </form>
    </div>
    {{ form.media }}
{% endblock %}
{% block imgclass %}login-form-img{% endblock %}
{% block logo %}
<a class="float-right mt-3 mr-3" href="{% url 'home' %}">
    <img src="{% static 'media/logos/Servstry_Logo_All_Blue.png' %}" width="225">
</a>
{% endblock %}