{% extends 'base-content-right-page.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h3 class="font-title font-blue signup-form-title mt-3 mb-4">Password Reset</h3>
    <div class="account-page-text mt-2 mb-2">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% else %}
            <p>Your password is now changed.</p>
            <div class="d-flex justify-content-center mt-2">
                <a href="{% url 'account_login' %}" class="btn btn-blue btn-lg mt-3">Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block imgclass %}password-reset-done-img{% endblock %}
{% block logo %}
<a class="float-left mt-3 ml-3" href="{% url 'home' %}">
    <img src="{% static 'media/logos/Servstry_Logo_White.png' %}" width="225">
</a>
{% endblock %}