{% load static i18n crispy_forms_tags %}
{% load render_bundle webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block head_title %}{% endblock head_title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="author" content="{% block head_author %}{% endblock head_author %}">
        <meta name="description" content="{% block head_description %}{% endblock head_description %}">
    {% endblock head %}
    {% include "partials/google_analytics.html" %}
    {% block css %}
      {% if WEBPACK_ENABLED %}
        {% render_bundle 'vendors' 'css' %}
        {% render_bundle 'main' 'css' %}
      {% else %}
        <link href="{% static 'vendors.css' %}" rel="stylesheet">
        <link href="{% static 'main.css' %}" rel="stylesheet">
      {% endif %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
    {% block body_navbar %}
        {% if not navbar %}
            {% include "partials/navbar.html" %}
        {% endif %}
    {% endblock body_navbar %}
    {% block body_content %}
    {% endblock %}
    {% block body_footer %}
        {% if not footer %}
            {% include "partials/footer.html" %}
        {% endif %}
    {% endblock body_footer %}
    {% block js %}
        {% if WEBPACK_ENABLED %}
            {% render_bundle 'vendors' 'js' %}
            {% render_bundle 'main' 'js' %}
        {% else %}
            <script src="{% static 'vendors.bundle.js' %}"></script>
            <script src="{% static 'main.bundle.js' %}"></script>
        {% endif %}
    {% endblock %}
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>